@import "tailwindcss";

@theme {
  --color-pinkLigth: #EADDF1;
  --color-aquamarine: #00FFA1;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  box-sizing: border-box;
}


html{
  font-family: 'Montserrat', sans-serif;
}


.has-appointment {
  background-color: #e0f7fa !important; 
  color: black !important;
  font-weight: bold;
}

.react-calendar__tile.has-appointment:hover {
  background-color: #b3e5fc !important; 
}

.react-calendar__tile--active.has-appointment {
  background-color: aquamarine !important; 
  color: black !important;
}